/netbeans/HTML-JS/MyFirstBookLab/nbproject/private/
/netbeans/HTML-JS/MySecondBookApp/nbproject/private/
/netbeans/HTML-JS/MySecondBlogApp/nbproject/private/
/netbeans/java/my-MVC-Blog-Spring/target/
/netbeans/Mizia/m15m14/m15m14m19/nbproject/private/
/netbeans/Mizia/m15m14/m15m14m19/build/
/netbeans/Mizia/m15m14/m15m14m19/dist/
/netbeans/java/MySpringMVCBlog/target/
/netbeans/java/BasicSpringbootProject/target/
/netbeans/java/MyRectangleApp/nbproject/private/
/netbeans/java/MyRectangleApp/build/
/netbeans/java/MyRectangleApp/dist/