/netbeans/HTML-JS/MyFirstBookLab/nbproject/private/
/netbeans/HTML-JS/MySecondBookApp/nbproject/private/
/netbeans/HTML-JS/MySecondBlogApp/nbproject/private/
/netbeans/java/my-MVC-Blog-Spring/target/
/netbeans/Mizia/m15m14/m15m14m19/nbproject/private/
/netbeans/Mizia/m15m14/m15m14m19/build/
/netbeans/Mizia/m15m14/m15m14m19/dist/
/netbeans/java/MySpringMVCBlog/target/
/netbeans/java/BasicSpringbootProject/target/
/netbeans/java/MyRectangleApp/nbproject/private/
/netbeans/java/MyRectangleApp/build/
/netbeans/java/MyRectangleApp/dist/
/netbeans/java/MyRectangleFXApp/nbproject/private/
/netbeans/java/MyRectangleFXApp/dist/
/netbeans/java/MyRectangleFXApp/build/
/netbeans/java/MyInvalidationListener/nbproject/private/
/netbeans/java/MyInvalidationListener/build/
/netbeans/java/MyChangeListener/nbproject/private/
/netbeans/java/MyChangeListener/build/
/netbeans/java/MyBind/nbproject/private/
/netbeans/java/MyBind/build/
/netbeans/java/MyBindBIderectional/nbproject/private/
/netbeans/java/MyBindBIderectional/build/
/netbeans/java/MyFluentBind/nbproject/private/
/netbeans/java/MyFluentBind/build/
/netbeans/java/MyFluentBind/dist/
/netbeans/java/MyCustomBind/nbproject/private/
/netbeans/java/MyCustomBind/build/
/netbeans/java/MyCustomBind/dist/
/netbeans/java/MyRaceTrack/nbproject/private/
/netbeans/java/MyRaceTrack/dist/
/netbeans/java/MyRaceTrack/build/
/netbeans/java/HelloFXAppWithAScene/nbproject/private/
/netbeans/java/HelloFXAppWithAScene/build/
/netbeans/java/HelloFXAppWithAScene/dist/
/netbeans/java/ImprovedHelloFXApp/nbproject/private/
/netbeans/java/ImprovedHelloFXApp/build/
/netbeans/java/ImprovedHelloFXApp/dist/
/netbeans/java/FXParamApp/nbproject/private/
/netbeans/java/FXLifeCycleApp/nbproject/private/
/netbeans/java/FXLifeCycleApp/build/
/netbeans/java/FXLifeCycleApp/dist/
/netbeans/java/EmployeeTest/nbproject/private/
/netbeans/java/EmployeeTest/build/
/netbeans/java/EmployeeTest111/nbproject/private/
/netbeans/java/BookPropertyTest/nbproject/private/
/netbeans/java/BookPropertyTest/build/