/netbeans/HTML-JS/MyFirstBookLab/nbproject/private/
/netbeans/HTML-JS/MySecondBookApp/nbproject/private/
/netbeans/HTML-JS/MySecondBlogApp/nbproject/private/
/netbeans/java/my-MVC-Blog-Spring/target/
/netbeans/Mizia/m15m14/m15m14m19/nbproject/private/
/netbeans/Mizia/m15m14/m15m14m19/build/
/netbeans/Mizia/m15m14/m15m14m19/dist/
/netbeans/java/MySpringMVCBlog/target/
/netbeans/java/BasicSpringbootProject/target/
/netbeans/java/MyRectangleApp/nbproject/private/
/netbeans/java/MyRectangleApp/build/
/netbeans/java/MyRectangleApp/dist/
/netbeans/java/MyRectangleFXApp/nbproject/private/
/netbeans/java/MyRectangleFXApp/dist/
/netbeans/java/MyRectangleFXApp/build/
/netbeans/java/MyInvalidationListener/nbproject/private/
/netbeans/java/MyInvalidationListener/build/
/netbeans/java/MyChangeListener/nbproject/private/
/netbeans/java/MyChangeListener/build/
/netbeans/java/MyBind/nbproject/private/
/netbeans/java/MyBind/build/
/netbeans/java/MyBindBIderectional/nbproject/private/
/netbeans/java/MyBindBIderectional/build/
/netbeans/java/MyFluentBind/nbproject/private/
/netbeans/java/MyFluentBind/build/
/netbeans/java/MyFluentBind/dist/
/netbeans/java/MyCustomBind/nbproject/private/
/netbeans/java/MyCustomBind/build/
/netbeans/java/MyCustomBind/dist/
/netbeans/java/MyRaceTrack/nbproject/private/
/netbeans/java/MyRaceTrack/dist/
/netbeans/java/MyRaceTrack/build/
/netbeans/java/HelloFXAppWithAScene/nbproject/private/
/netbeans/java/HelloFXAppWithAScene/build/
/netbeans/java/HelloFXAppWithAScene/dist/
/netbeans/java/ImprovedHelloFXApp/nbproject/private/
/netbeans/java/ImprovedHelloFXApp/build/
/netbeans/java/ImprovedHelloFXApp/dist/
/netbeans/java/FXParamApp/nbproject/private/
/netbeans/java/FXLifeCycleApp/nbproject/private/
/netbeans/java/FXLifeCycleApp/build/
/netbeans/java/FXLifeCycleApp/dist/
/netbeans/java/EmployeeTest/nbproject/private/
/netbeans/java/EmployeeTest/build/
/netbeans/java/EmployeeTest111/nbproject/private/
/netbeans/java/BookPropertyTest/nbproject/private/
/netbeans/java/BookPropertyTest/build/
/netbeans/java/BindingTest/nbproject/private/
/netbeans/java/InvalidationTest/nbproject/private/
/netbeans/java/InvalidationTest/build/
/netbeans/java/LearnFX_l_1-5-HelloFXAppWithAScene/nbproject/private/
/netbeans/java/LearnFX-1-5-HelloFXAppWithAScene/nbproject/private/
/netbeans/java/LearnFX-1-6-ImprovedHelloFXApp/nbproject/private/
/netbeans/java/LearnFX-1-7-FXParamApp/nbproject/private/
/netbeans/java/LearnFX-1-8-FXLifeCycleApp/nbproject/private/
/netbeans/java/LearnFX-2-1-EmployeeTest/nbproject/private/
/netbeans/java/LearnFX-2-2-EmployeeTest/nbproject/private/
/netbeans/java/LearnFX-2-4-BookPropertyTest/nbproject/private/
/netbeans/java/LearnFX-2-7-InvalidationTest/nbproject/private/
/netbeans/java/LearnFX-2-6-BindingTest/nbproject/private/
/netbeans/java/FXRichClient-1-MyRectangleApp/nbproject/private/
/netbeans/java/FXRichClient-3-1-MyRectangleApp/nbproject/private/
/netbeans/java/FXRichClient-3-2-MyRectangleFXApp/nbproject/private/
/netbeans/java/FXRichClient-3-10-MyInvalidationListener/nbproject/private/
/netbeans/java/FXRichClient-3-11-MyChangeListener/nbproject/private/
/netbeans/java/FXRichClient-3-12-MyBind/nbproject/private/
/netbeans/java/FXRichClient-3-13-MyBindBIderectional/nbproject/private/
/netbeans/java/FXRichClient-3-14-MyFluentBind/nbproject/private/
/netbeans/java/FXRichClient-3-15-MyCustomBind/nbproject/private/
/netbeans/java/FXRichClient-3-17-MyRaceTrack/nbproject/private/
/netbeans/java/SoftUni-Java-MySpringMVCBlog/target/
/netbeans/HTML-JS/SoftUni-HTML-JS-MyFirstBookLab/nbproject/private/
/netbeans/HTML-JS/SoftUni-HTNL-JS-MySecondBlogApp/nbproject/private/
/netbeans/HTML-JS/SoftUni-HTML-JS-MySecondBookApp/nbproject/private/
/netbeans/java/FXRichClient-3-01-MyRectangleApp/nbproject/private/
/netbeans/java/FXRichClient-3-02-MyRectangleFXApp/nbproject/private/
/netbeans/java/LearnFX-01-5-HelloFXAppWithAScene/nbproject/private/
/netbeans/java/LearnFX-01-6-ImprovedHelloFXApp/nbproject/private/
/netbeans/java/LearnFX-01-7-FXParamApp/nbproject/private/
/netbeans/java/LearnFX-01-8-FXLifeCycleApp/nbproject/private/
/netbeans/java/LearnFX-02-2-EmployeeTest/nbproject/private/
/netbeans/java/LearnFX-02-4-BookPropertyTest/nbproject/private/
/netbeans/java/LearnFX-02-6-BindingTest/nbproject/private/
/netbeans/java/LearnFX-02-7-InvalidationTest/nbproject/private/
/netbeans/java/LearnFX-02-7-InvalidationTest/build/
/netbeans/java/ChangeTest/nbproject/private/
/netbeans/java/LearnFX-02-8-ChangeTest/nbproject/private/
/netbeans/java/LearnFX-02-8-ChangeTest/build/
/netbeans/java/MyLambdaExp/nbproject/private/
/netbeans/java/LearnFX-MyDiscription-MyLambdaExp/nbproject/private/
/netbeans/java/LearnFX-MyDiscription-MyLambdaExp/build/
/netbeans/java/MyMethodReference/nbproject/private/
/netbeans/java/LearnFX -MyMethodReference/nbproject/private/
/netbeans/java/LearnFX -MyDiscusion-MyMethodReference/nbproject/private/
/netbeans/java/LearnFX-MyDiscusion-MyMethodReference/nbproject/private/
/netbeans/java/LearnFX-MyDiscription-MyMethodReference/nbproject/private/
/netbeans/java/LearnFX-MyDiscription-MyMethodReference/build/
/netbeans/java/LearnFX-OracleDescription-MyMethodReference/nbproject/private/
/netbeans/java/LearnFX-MyDescription-MyLambdaExp/nbproject/private/
/netbeans/java/LearnFX-MyDescription-MyMethodReference/nbproject/private/
/netbeans/java/LearnFX-OracleDescription-MyMethodReference/build/
/netbeans/java/LearnFX-OracleDescription-MyMethodReference/dist/
/netbeans/java/LearnFX-MyDescription-MyMethodReference/build/